.App {
  text-align: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background: #415976;
  transition: background .5s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.image {
  cursor: pointer;
  border: solid #ade6d6 2px;
}

.option-section {
  color: #ade6d6;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  margin: 8px 0px 0px 0px;
}

.option-label {
  font-weight: 300;
  color: #ade6d6;
}

.option-label button {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
}

.instrument {
  margin: 0 8px 0 8px;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
}

.volume {
  display: flex;
  align-items: flex-start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
